@import "tailwindcss";

@theme {
    --color-primary: #1C1C1C;
    --color-text: #4A4A4A;
    --color-utility: #B0B0B0;
    --color-secondary: #D4AF37;
    --color-shadow: #B48C2F;
    --color-contrast: #F4F4F4;
}

* {
    box-sizing: border-box;
}