@import "tailwindcss";

@theme {
    --color-black: #000000;
    --color-primary: #14213D;
    --color-secondary: #FCA311;
    --color-platinum: #E5E5E5;
    --color-white: #ffffff;
}

* {
    box-sizing: border-box;
}

body.no-scroll {
    overflow: hidden;
}