@import "tailwindcss";

@theme {
    --color-base: #000000;
    --color-primary: #D4AF37;
    --color-secondary: #C0C0C0;
    --color-neutral-light: #FAFAFA;
    --color-neutral: #1B1B1B;


    --spacing-header: 128px;
}

* {
    box-sizing: border-box;
}

body.no-scroll {
    overflow: hidden;
}